@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Palanquin+Dark:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

:root {
    --cor-barramenu: #171f32;
    --cor-submenuhover: #47ace0;
    --cor-submenun2: #3b91bd;
    --cor-submenu: #4476bb;
    --cor-backgroundbody: #f7f9fc;
    --cor-fonte: #7c7a7b;
    --cor-fontefooter: #ffffff;
    --cor-label: #b8e1f8c8;
    --cor-labelhover: #98d4f3;
    --cor-fundo: #dfdfdf77;
    --cor-hover: #6c65bb;

    --fonte-primaria: "Poppins", sans-serif;
    --fonte-secundaria: "Poppins", sans-serif;
    --fonte-terciaria: "Poppins", sans-serif;
}

body {
    background-color: var(--cor-backgroundbody);
    font-family: var(--fonte-primaria);
    color: var(--cor-fonte);
    margin: 0;
    padding: 0;
}

p {
    text-align: center;
    color: var(--cor-barramenu);
}

h1,
h2,
h3 {
    text-align: center;
    color: var(--cor-barramenu);
}

h2 {
    color: var(--cor-barramenu);
}

.site-content {
    max-width: 120rem;
    margin: 0 auto;
    padding: 5px;
}

.cursos-titulo {
    color: var(--cor-barramenu);
}

.tabela-curso {
    width: auto;
    max-width: 60%;
    border-collapse: collapse;
    margin: 2rem auto;
    border-radius: 15px;
    border: 3px solid var(--cor-submenu);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.432);
}

.tabela-curso th,
.tabela-curso td {
    padding: 0.5rem;
}

.tabela-curso th {
    background-color: var(--cor-backgroundbody);
    color: var(--cor-barramenu);
    border-radius: 10px;
}

.tabela-curso td {
    background-color: var(--cor-backgroundbody);
    border-radius: 10px;
}

.abas-curso {
    list-style: none;
    padding: 0;
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.aba-curso {
    font-size: 18px;
    color: var(--cor-barramenu);
    background-color: transparent;
    border: 3px solid var(--cor-submenu);
    border-radius: 25px;
    padding: 15px 25px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.aba-curso:hover {
    background-color: var(--cor-labelhover);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
    color: var(--cor-barramenu);
}

.aba-curso.active {
    background-color: var(--cor-label);
    color: var(--cor-barramenu);
}

.aba-curso:last-child {
    margin-right: 0;
}

.conteudo-aba-curso {
    display: none;
    text-align: left;
    padding: 20px;
}

.conteudo-aba-curso.active {
    display: block;
    color: var(--cor-fonte);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
}

.objetivos,
.perfil-egresso {
    border: 3px solid var(--cor-submenu);
    border-radius: 15px;
    padding: 20px;
    margin: 20px auto;
    max-width: 60%;
    box-sizing: border-box;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.432);
    margin-bottom: 30px;
}

.grade-curricular {
    margin: 0 auto;
    max-width: 1200px;
    margin-top: 100px;
}

.grade-curricular-tabela {
    width: 100%;
    border-collapse: collapse;
    margin-top: 2rem;
}

.grade-curricular-tabela th,
.grade-curricular-tabela td {
    border: 1px solid var(--cor-submenu);
    padding: 0.5rem;
}

.grade-curricular-tabela th {
    background-color: var(--cor-backgroundbody);
    color: var(--cor-barramenu);
    border-radius: 10px;
}

.grade-curricular-tabela td {
    background-color: var(--cor-backgroundbody);
    border-radius: 10px;
}

.grade-curricular h2 {
    text-align: center;
    margin-bottom: 1rem;
}

.grade-curricular p {
    text-align: center;
}

.abas-grade-curricular {
    list-style: none;
    padding: 0;
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    gap: 50px;
}


.aba-grade-curricular {
    font-size: 18px;
    color: var(--cor-barramenu);
    background-color: transparent;
    border: 3px solid var(--cor-submenu);
    border-radius: 25px;
    padding: 15px 25px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.aba-grade-curricular:hover {
    background-color: var(--cor-labelhover);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
    color: var(--cor-barramenu);
}

.aba-grade-curricular.active {
    background-color: var(--cor-label);
    color: var(--cor-barramenu);
}

.conteudo-aba-grade-curricular {
    display: none;
    text-align: left;
    margin: 0 auto;
    max-width: 55%;

}

.conteudo-aba-grade-curricular.active {
    display: block;
}

.conteudo-aba-grade-curricular table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 2rem;
}

.conteudo-aba-grade-curricular th,
.conteudo-aba-grade-curricular td {
    border: 1px solid var(--cor-submenu);
    padding: 0.5rem;
}

.conteudo-aba-grade-curricular th {
    background-color: var(--cor-backgroundbody);
    color: var(--cor-barramenu);
}

.conteudo-aba-grade-curricular td {
    background-color: var(--cor-backgroundbody);
}
