@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Palanquin+Dark:wght@700&display=swap');

:root {
    --cor-barramenu: #171f32;
    --cor-submenuhover: #47ace0;
    --cor-submenun2: #3b91bd;
    --cor-submenu: #4476bb;
    --cor-backgroundbody: #f7f9fc;
    --cor-fonte: #7c7a7b;
    --cor-fontefooter: #ffffff;
    --cor-label: #b8e1f8c8;
    --cor-labelhover: #98d4f3;

    --fonte-primaria: 'Roboto', sans-serif;
    --fonte-secundaria: 'Palanquin Dark', sans-serif;
    --fonte-terciaria:'Kalam', cursive;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    /*height: 100vh; */
    background-color: var(--cor-backgroundbody);
    color: var(--cor-fonte);
    overflow-x: hidden;
}
header{
    padding-top: 0;
}
*{
    margin: 0; 
    padding: 0;
}
body{
    font-family: arial, helvetica, sans-serif;
    font-size: 1em;
}
.menu{
    list-style:none;
    float:left;
    align-items: center;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    font-family: var(--fonte-primaria);
    background-color: var(--cor-barramenu);
}
.menu li{
    position:relative;
    float:left;
}
.menu li a{
    color:var(--cor-fontefooter); 
    text-decoration:none; 
    padding:5px 10px; 
    display:block;
}
.menu li a:hover{
    background:var(--cor-submenuhover);
    color: var(--cor-fontefooter);
    text-shadow:0px 0px 5px #fff;
}
.menu li ul{
    position:absolute;
    top:25px;
    left:0;
    background-color:var(--cor-submenuhover);
    display:none;
}
.menu li ul a{
    color: var(--cor-fontefooter);
}
.menu li:hover ul, .menu li.over ul{
    display:block;
}
.menu li ul li{
    display:block;
    width:150px;
}
.menu li ul li ul {
    position: absolute;
    top: 0;
    left: 100%;
    background-color: var(--cor-submenuhover);
    display: none;
}

.menu li ul li:hover ul {
    display: block;
}

.menu li ul li ul li {
    display: block;
    width: 150px;
}
main{
    width: 90vw;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    min-height: calc(100vh - 50px);
}
span#burguer{
    background-color: var(--cor-barramenu);
    color: #fff;
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}
span#burguer:hover{
    background-color: var(--cor-submenuhover);
}

.content{
    margin: 10%;
    margin-top: 10% ;
    display: flex;
    align-items:normal;
    justify-content: space-between;
    text-align: justify;
}
.content__strong{
    font-size: 1.313rem;
    font-family: var(--fonte-primaria);
    font-weight: bold;
}
.content__p{
    font-size: 0.875rem;
    font-family: var(--fonte-primaria);
    line-height: 20px;
    margin-left: 2%;
    margin-top: 1%;
    font-weight: 400;
}
.content__title{
    font-size: 2.25rem;
    font-family: var(--fonte-secundaria);
    line-height: 35px;
    width: 90%;
  
    
}
footer{
    width: 100%;
    padding: 1%;
    background-image: url(../imagens/rodapé.png);
    list-style: none;
    color: var(--cor-fontefooter);
    font-size: 0.75rem;
    font-family: var(--fonte-terciaria);
    text-align: center;
    line-height: 20px;
}
.footer__section{
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-content: center;
}
.footer_text {
    padding: 6%;
    font-size: 0.875rem;
}
.trabalhe-conosco-imagem{
    border-radius: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    width: 50%;
}
.trabalhe-conosco-imagem:hover{
    opacity: 0.9;
}
/* toogle - mostra/some */

.label-list {
    -webkit-appearance: push-button;
    -moz-appearance: button;
    display: inline-block;
    cursor: pointer;
    padding: 5px;
    border-style: solid;
    border-radius: 20px;
    border: 30px solid transparent;
    background-color:var(--cor-label);
    width: 90%;
    margin-bottom: 1%;
    font-size: 1.313rem;
    font-family: var(--fonte-primaria);
    font-weight: bold;
  }
  .label-list:hover{
    background-color:var(--cor-labelhover);
  }
 /* menu mostra e some */
 #mostra {
    display:none;
 }
#toggle-1 {
    display:none;
 }
 #toggle-2 {
    display:none;
 }
 #toggle-3 {
    display:none;
 }
 #toggle-4 {
    display:none;
 }
 #toggle-5 {
    display:none;
 }
 #toggle-6 {
    display:none;
 }
 #toggle-7 {
    display:none;
 }
 #toggle-8 {
    display:none;
 }
 #toggle-9 {
    display:none;
 }
 #toggle-10 {
    display:none;
 }
 #toggle-11 {
    display:none;
 }
 #toggle-12 {
    display:none;
 }
 #toggle-13 {
    display:none;
 }
 #toggle-14 {
    display:none;
 }
 #toggle-15 {
    display:none;
 }
 #toggle-16 {
    display:none;
 }
 #toggle-17 {
    display:none;
 }

 /* CSS quando o checkbox está marcado */
 #toggle-1:checked ~ #mostra {
    display:block;
 }
 #toggle-2:checked ~ #mostra {
    display:block;
 }
 #toggle-3:checked ~ #mostra {
    display:block;
 }
 #toggle-4:checked ~ #mostra {
    display:block;
 }
 #toggle-5:checked ~ #mostra {
    display:block;
 }
 #toggle-6:checked ~ #mostra {
    display:block;
 }
 #toggle-7:checked ~ #mostra {
    display:block;
 }
 #toggle-8:checked ~ #mostra {
    display:block;
 }
 #toggle-9:checked ~ #mostra {
    display:block;
 }
 #toggle-10:checked ~ #mostra {
    display:block;
 }
 #toggle-11:checked ~ #mostra {
    display:block;
 }
 #toggle-12:checked ~ #mostra {
    display:block;
 }
 #toggle-13:checked ~ #mostra {
    display:block;
 }
 #toggle-14:checked ~ #mostra {
    display:block;
 }
 #toggle-15:checked ~ #mostra {
    display:block;
 }
 #toggle-16:checked ~ #mostra {
    display:block;
 }
 #toggle-17:checked ~ #mostra {
    display:block;

 }
 .label-list:hover{
    background-color:var(--cor-labelhover);
  }

@media screen and (min-width: 768px) {
    body {
        overflow-x: hidden;
    }
    .label-list{
        width: 90%;
        padding: 2%;
    }
    .content{
       padding: 1%, 5%;
       box-sizing: border-box;
    }
    #itens-menu{
        visibility: visible;
    }
    span#burguer{
        display: none;
    }
    header{
        padding-top: 0;
    }
    .submenu-1{
        width: 100%;
        align-items: center;
    }
    nav{

        top: 0;
        display: block;
    }
    nav ul > li{
        display: inline-block;
    }
    main{
        width: 768;
    }


   /*  body {
        font-size: 0.875rem;
    }
    .container__imagem{
        width: 50vw;

    }
    .container__caixa{
        margin: 2em 2em;
    }
    .secundario{
        margin:0;
        text-align: center;
    }
    .secundario__imagem{
        width: 50vw;
    }*/

}









.img-quadrado {
    width: 160px;
    height: 160px;
    background-color:var(--cor-fontefooter);
    background-size: cover;
    background-position: 0% 100%;
    transition: 1.5s;
    cursor: pointer;
    border-radius: 40px;
    position:relative;
}

 .imagem {
    text-align: center;
    font-family: fonte_geral;
    color: var(--cor-fonte);
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-turma:hover {
    background-position: 100% 100%;
}
.imagem span {
    margin-top: 10px;
}

.imagem p{
    margin:0;
}
* {
    margin: 0;
    padding: 0;
    letter-spacing: 1px;

}




  /* Outras páginas*/

/*slider*/


.barra-imagem {
    width: 100vw;
    height: auto;
}

.imagensslides {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}


.manual-navegacao {
    position: absolute;
    width: 100%;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 1px solid var(--cor-submenu);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: var(--cor-submenu);
}

#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -100%;
}

#radio3:checked~.first {
    margin-left: -200%;
}

#radio4:checked~.first {
    margin-left: -300%;
}

#radio5:checked~.first {
    margin-left: -400%;
}

#radio6:checked~.first {
    margin-left: -500%;
}

#radio7:checked~.first {
    margin-left: -600%;
}

.auto-navegacao div {
    border: 1px solid var(--cor-submenu);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.auto-navegacao {
    position: absolute;
    width: 100%;
    margin-top: 606px;
    display: flex;
    justify-content: center;
}

.auto-navegacao div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked~.auto-navegacao .auto-btn1 {
    background-color: var(--cor-submenu);
}

#radio2:checked~.auto-navegacao .auto-btn2 {
    background-color: var(--cor-submenu);
}

#radio3:checked~.auto-navegacao .auto-btn3 {
    background-color: var(--cor-submenu);
}

#radio4:checked~.auto-navegacao .auto-btn4 {
    background-color: var(--cor-submenu);
}

#radio5:checked~.auto-navegacao .auto-btn5 {
    background-color: var(--cor-submenu);
}

#radio6:checked~.auto-navegacao .auto-btn6 {
    background-color: var(--cor-submenu);
}

#radio7:checked~.auto-navegacao .auto-btn7 {
    background-color: var(--cor-submenu);
}

.divisões {
    display: flex;
    padding: 20px;
    height: 600px;
    flex-direction: row;
    justify-content: space-around;
}

.divisões-imagens {
    display: flex;
    padding: 20px;
    height: 500px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.quadro {
    height: 450px;
    width: 350px;
    align-items: center;
    text-align: center;
    color: var(--cor-submenu);
}

.quadro p {
    margin-bottom: 20px;
    font-family: fonte_geral;
    font-size: 0.813rem;
    color: var(--cor-submenu);
}

.quadro h2 {
    font-family: fonte_detalhes;
    font-size: 1.875rem;
    margin-bottom: 10px;
}



.map-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
    border: 1px solid var(--cor-submenu);

}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}


.quadro-fundo {
    padding: 15px;
    height: 200px;
    width: 250px;
    text-align: center;
    color: var(--cor-fontefooter);
    background-color: var(--cor-submenuhover);
    font-family: fonte_detalhes;
    border-radius: 5px;
}

.quadro-fundo img {
    width: 245px;
    height: 180px;
}





.quadro-contato {
    height: 250px;
    width: 350px;
    text-align: center;
    color: var(--cor-submenu);
    font-family: fonte_detalhes;
}

.item-contato {
    color: var(--cor-fonte);
    font-family: fonte_geral;
    font-size: 0.75rem;
}

.field {
    width: 100%;
    margin: 15px 0;
}

.field .label-list,
.field span {
    font-size: 1.1rem;
    display: flex;

}

input[type=text],
input[type=email],
input[type=tel],
input[type=password],
textarea {
    width: 100%;
    padding-left: 10px;
    height: 30px;
    line-height: 30px;
    border-radius: 10px;
    border: 1px solid var(--cor-submenu);
    outline: none;
}

textarea {
    line-height: 20px;
    padding: 10px;
    height: 90px;
    resize: none;

}

input[type=submit] {
    display: block;
    background-color: var(--cor-submenu);
    height: 35px;
    border: none;
    outline: 0;
    cursor: pointer;
    width: 100px;
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;
    color: var(--cor-fontefooter);
    font-family: fonte_detalhes;
    font-size: 1.25rem;
}

.sub-títulos {
    margin: 50px;
    font-family: fonte_detalhes;
    font-size: 1.25rem;
    margin-top: 20px;
    margin-bottom: 10px;
    color: var(--cor-submenu);
}

.divisões-galeria {
    display: flex;
    padding: 20px;
    max-width: 1500px;
    height: 400px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.tabela {
    width: 100%;
}

.tabela td {
    font-size: 0.75rem;
    text-align: center;
    font-family: fonte_geral;
    color: var(--cor-fontefooter);
    width: 20%;
    height: 80px;
    padding: 5px;
    background-color: var(--cor-submenu);
}

.tabela th {
    background-color: var(--cor-submenu);
    text-align: center;
    padding: 20px;
    color: var(--cor-fontefooter);
    font-family: fonte_detalhes;
    width: 20%;
    font-size: 1.25rem;

}

.linha {
    margin: 10px 0;
    height: 2px;
    background: var(--cor-submenu);
    background: webkit-gradient(linear, 0 0, 100% 0, from(white), to(#4476bb), color-stop(50%, #4476bb));
    margin-top: 50px;
    margin-bottom: 50px;
}

.quem-somos {
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    padding: 30px;
}


.celula-maior {
    width: 20px;
    height: 50px;
}

.tabela-horarios td {
    font-size: 0.75rem;
    text-align: center;
    font-family: fonte_geral;
    color: var(--cor-fontefooter);
    height: 60px;
    padding: 5px;
    background-color: var(--cor-submenun2);
}

.tabela-horarios td {
    font-size: 0.625rem;
    text-align: center;
    font-family: fonte_geral;
    color: var(--cor-fontefooter);
    height: 50px;
    padding: 5px;
    background-color: var(--cor-submenun2);
}

.tabela-horarios th {
    background-color: var(--cor-submenu);
    text-align: center;
    padding: 10px;
    color: var(--cor-fontefooter);
    font-family: fonte_detalhes;
    width: 5%;
    font-size: 1.25rem;
}

.tabela-horarios th:nth-child(1),
td:nth-child(1) {
    width: 2%;

}

.quadro-funcionario {
    height: 250px;
    width: 400px;
    text-align: center;
    color: var(--cor-submenu);
    font-family: fonte_detalhes;
    margin-left: 45px;
}

.divisões-noticias {
    display: flex;
    width: 100%;
    height: 600px;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.quadro-noticias {
    height: 400px;
    width: 350px;
    align-items: center;
    text-align: left;
    color: var(--cor-barramenu);
}

.resumos {
    max-width: 300px;
    font-size: 0.938rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
    font-family: fonte_geral;
    color: var(--cor-fonte);
}



.quadro-noticias img {
    width: 350px;
    height: 180px;
}

.quadro-noticias h2 {
    font-family: fonte_detalhes;
    font-size: 1.25rem;
    margin-bottom: 10px;
}


.p {
    font-family: fonte_geral;
    color: var(--cor-fonte);
    text-align: justify;
    text-overflow: ellipsis;
    font-size: 0.75rem;
    line-height: 25px;
}

.agenda {
    padding: 30px;
    height: 400px;
    background-color: var(--cor-fontefooter);
    border-radius: 10px;
    list-style: none;
    overflow: auto;
    flex-direction: column;
    box-shadow: 10px 10px 20px var(--cor-submenu);

}



.borda {
    display: flex;
    flex-direction: column;
    background-color: var(--cor-submenu);
    color: var(--cor-fontefooter);
    width: 45px;
    height: 50px;
    border-radius: 5px;
    justify-content: center;
}

.datas {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
}

.datas span {
    padding: 40px;
}


html ::-webkit-scrollbar {
    width: 10px;
}

html ::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background: var(--cor-submenu);
}

html ::-webkit-scrollbar-track {
    background: var(--cor-fontefooter);
}

.linha-agenda {
    margin: 2px;
    height: 2px;
    background: var(--cor-submenu);
    background: webkit-gradient(linear, 0 0, 100% 0, from(white), to(#4476bb), color-stop(50%, #4476bb));
}

.geral-imagens {
    width: 100%;
    height: auto;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 50px;

}

.imagem-materia {
    width: 400px;
    border-radius: 5px;
    margin-bottom: 30px;
}


.imagem-evento {
    width: 200px;
    border-radius: 5px;
}


.clicavel:hover {
    transition: 0.5s;
    opacity: 0.4;
}

.clicavel {
    width: 200px;
    border-radius: 5px;
}

.imagem-evento-destaque {
    width: 100px;
    border-radius: 5px;
}


h4 {
    display: flex;
    display: inline;
    font-size: 1.125rem;
    font-family: fonte_detalhes;
    color: var(--cor-barramenu);
}

.clicavel-destaque {
    display: flex;
    flex-direction: row;
    float: left;
}
.clicavel-destaque:hover {
    transition: 0.5s;
    opacity: 0.4;
}

.clicavel-destaque {
    width: 200px;
    border-radius: 5px;
}
.quadro-noticias-destaque {
    height: 400px;
    width: 350px;
    align-items: flex-end;
    color: var(--cor-barramenu);
}
.detaque.link{
padding: 20px;}

.linha-destaque {
    margin: 2px;
    height: 2px;
    background: var(--cor-submenu);
}
a{
    text-decoration: none;
}


 .slider { 
 display: block; 
 height: 300px; 
 width: 1500px; 
 margin: auto; 
 margin-top: 20px; 
 margin-bottom: 300px;
 position: relative; 
 padding: 30px;
padding-left: 0px;
 } 
 
 .slider li { 
 list-style: none; 
 position: absolute; 
 } 
 
 .slider img { 
 margin: auto; 
 height: 100%; 
 width: 100%; 
 vertical-align: top; 
 } 
 
 .slider input { 
 display: none; 
 } 
 
 
 .slider label { 
 background-color: #000; 
 bottom: 10px; 
 cursor: pointer; 
 display: block; 
 height: 10px; 
 position: absolute; 
 width: 10px; 
 z-index: 10; 
 } 
 
 .slider li:nth-child(1) label { 
 left: 10px; 
 } 
 .slider li:nth-child(2) label { 
 left: 40px; 
 } 
 .slider li:nth-child(3) label { 
 left: 70px; 
 } 
 .slider li:nth-child(4) label { 
 left: 100px; 
 } 
.slider li:nth-child(5) label { 
left: 130px; 
} 
.slider li:nth-child(6) label { 
left: 160px; 
} 
.slider li:nth-child(7) label { 
left: 190px; 
}


 .slider img { 
 opacity: 0; 
 visibility: hidden; 
 } 
 
 .slider li input:checked ~ img { 
 opacity: 1; 
 visibility: visible; 
 z-index: 10; 
 } 
 