@charset "UTF-8";

/*
Telas pequenas: até 600px
Celular: de 600px a 768px
Tablet: de 769px a 1200px
Telas grandes: acima de 1200px
*/

@media screen and (min-width: 768px) and (max-width: 992px){
    .slider {
        display: block;
        height: 300px;
        width: 100%;
        margin: auto;
        margin-bottom: 300px;
        position: relative;
        padding-left: 0px;
    }

    header nav.menu-desktop ul li{
        padding: 7px;
        margin: 4px;
    }

}

@media screen and (max-width: 767px){
    body {
        overflow-x: hidden; /* Impede a rolagem horizontal */
        overflow-y: auto; /* Permite a rolagem vertical quando necessário */
    }
   
    .capamobile {
        display: block;
        width: 100%;
        height: auto; /* Para manter a proporção da imagem */
        max-width: 100%;
    }
   
    .imagem_funcionario{
        display: inline-block; 
        vertical-align: middle; 
        align-items: center;
    }

    .devs-footer{
        display: block;
    }
    .interface_index {
        flex-direction: column;
        margin-left: 0px;
    }
    .interface {
        flex-direction: column;
        margin-left: 0px;
    }
   
    .map-responsive iframe {
        width: 100%;
        height: 100%;
    }
    .menu_sobre{
        color: var(--cor-barramenu);
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 40px;
        gap: 30px; 
    }
    .submenu {
        font-size: medium;
        font-weight: bold;
        padding: 1%;
     }

     .img__historia{
        
        width: 240px;
        display: block; /* Alterando para display block para remover influências do float */
        margin-left: auto; /* Define a margem esquerda como automática */
        margin-right: auto; /* Define a margem direita como automática */
    }
    .slider {
        display:none;
    }
    .divisões {
        display: block;
        padding: 10px;
        height: 10px;
        flex-direction: column;
    }
    .quadro{
        padding-bottom: 5px;
    }


 
/*Estilo menu mobile*/

    .menu-desktop{
        display: none;
    }
    .menu-mobile{
        display: block;
    }

    .btn-abrir-menu{
        display: block;
    }

    .btn-abrir-menu span{
        color: #4476bb;
        position: fixed;
        top: 0;
        right: 0;
        font-size: 50px;
    }

    .btn-fechar{
        padding: 20px 4%;
    }

    .menu-mobile .btn-fechar span{
        color: #4476bb;
        font-size: 40px;
    }

    .menu-mobile{
        background-color: #171f32;
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 99999;
        width: 0%;
        overflow: hidden;
        transition: .4s;
    }

    .menu-mobile.abrir-menu{
        width: 60%;
    }

    .menu-mobile.abrir-menu ~ .overlay-menu{
        display: block;
    }

    .menu-mobile nav ul{
        text-align: right;
    }

    .menu-mobile nav ul li a{
       color: #fff;
       font-size: 20px;
       font-weight: 300;
       padding: 20px 8%;
       display: block;
    }

    .menu-mobile nav ul li:hover{
        background-color: #4476bb;
    }

    .overlay-menu{
        background-color: #0000007a;
        width: 100%;
        height: 100%;
        position: fixed;
        top:0;
        left: 0;
        z-index: 88888;
        display: none;
    }

    /*Fim menu mobile*/

    /*footer mobile*/
    

    footer div{
        padding-right: 0px;
    }
   .footer__section{
    flex-direction: column;
    align-items:center;
    padding: 0%;
   }
   .footer-desktop{
    display:none;
   }
   .footer-mobile{
    text-align:center;
    text-decoration: none;
    padding: 0%;
   }

   .endereco-footer{
    display: none;
   }
   
.cursos-box{
   margin-left: 0px;
   width: 350px;
}

.flex1{
   flex-wrap: nowrap;
   flex-direction: column;
   justify-content:center;
   flex: 0 0 calc(50% - 50px); 
   margin-bottom: 20px;
}
.quem-somos-box{
    border-radius: 25px;
    transition: .2s;
    flex-direction: column;
    margin-bottom: 20px;
    align-items: center;
    width: 350px;
}
.quem-somos-descricao{
    text-align: justify;
    word-spacing: 1px;
}
.quero-trabalhar{
    margin-top: 10px;
    margin-bottom: 500px;
    padding-left: 0;
}

.grade-curricular{
    padding-left: 10px;
}
.conteudo-aba-grade-curricular{
    margin-left: 10px;

}
.modulo3-table{
    padding-top: 0px;
}
.abas-grade-curricular {
    padding-right: 0;
    margin-right: 0;
    gap: 5px;
    align-items: flex-start;
    width: 350px;
}

p {
    text-align: justify;
}
.detalhes-modulo{
    width: 350px;
}
}

